<h2>Write a new blog entry:</h2>

<%= form_for @entry do |f| %>
  <%= f.label :title, "Title" %>
  <%= f.text_field :title %>

  <%= f.label :content, "Content" %>
  <%= f.text_area :content, class: "span12" %><br />

  <%= f.submit "Create Entry" %>
<% end %>