<div>
  <%= render "layouts/nextprev" %>
  <div class="entry-title">
    <h2><%= @entry.title %></h2>
    <p class="smaller posted-on"> - posted on <%= @entry.created_at.to_date.to_formatted_s :long_ordinal %></p>
  </div>

  <%= markdown @entry.content %>
  <%= render "layouts/nextprev" %>

</div>
