<div class="btn-group">
  <% if can? :edit, @entry %>
    <%= link_to "Edit this entry", edit_entry_path(@entry), class: "btn" %>
  <% end %>
  <% if can? :delete, @entry %>
    <%= link_to "Delete this entry", {action: :destroy}, method: :delete, class: "btn" %>
  <% end %>
</div>

<div>
  <h2><%= @entry.title %></h2>
  <p><%= markdown @entry.content %></p>
</div>

<br />
<br />===============<br />
<span class="smaller">(no comments for now, you can <%= mail_to "benjamin.trevor@gmail.com", "email me" %> though)</span>