<!DOCTYPE html>
<html>
<head>
  <title>Ben Trevor's Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body>
<%= render "layouts/navbar" %>

  <div class="container">
    <%= render "layouts/messages" %>

    <div class="row-fluid">
      <div class="span7 offset1"><%= yield %></div>
      <div class="span3 sidebar hidden-phone"><%= render "layouts/sidebar" %></div>
    </div>
  </div>

  <div class="debug-container">
    <%= debug(params) if Rails.env.development? %>
  </div>

  <% if @title %>
    <p style="text-align:center"><%= @title %></p>
  <% end %>
</body>

</html>
